.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #283618;
  color: #FCF9E3;
  text-align: center;
  border: 40px solid #606c38;
  border-top: 0px;
  margin: 0;
}
p{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2%;
}
form{
  font-size: 1.5em;
  margin-bottom: 10px;
}
#sub{
  background-color: #dda15e;
  height: 80px;
  width:150px;
  margin: 5px;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 24px;
}
